/* restrict elements from growing automatically */
* {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.is-active{
  font-weight: bold;
}

.button {
  background: #1c88bf;
  color: #fff;
  border: none;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  line-height: 1;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.header{
  background: #364051
}

.header__title{
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}


.header__content{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.content-container{
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.page-header{
  background: #f7f7f7;
  margin-bottom: 1rem;
  padding: 3rem 0;
}

.page-header__actions{
  margin-top: 1rem;
}

.input-group{
  /* smaller screens input display */
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

.input-group__item{
  margin-bottom: 0.5rem;
}

.text-input, .select{
  border: 1px solid #cacccd;
  font-size: large;
  font-weight: 300;
  height: 50px;
  padding: 0.5rem;
}

/* Larger screens input display */
@media(min-width: 45rem) {
  .input-group{
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
  .input-group__item{
    margin: 0 0.5rem 0 0;
  }
}
