body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.is-active{
  font-weight: bold;
}

.button {
  background: #1c88bf;
  color: #fff;
  border: none;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  line-height: 1;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.header{
  background: #364051
}

.header__title{
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__content{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.content-container{
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.page-header{
  background: #f7f7f7;
  margin-bottom: 1rem;
  padding: 3rem 0;
}

.page-header__actions{
  margin-top: 1rem;
}